<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ site.url }}/bower_components/bootstrap/docs-assets/ico/favicon.png">

    <title>{{ site.title }} | {{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/bower_components/bootswatch/readable/bootstrap.min.css" rel="stylesheet">
    {#<link href="{{ site.url }}/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <style>
            /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 70px;
            padding-bottom: 20px;
        }
    </style>

    {#<!-- Just for debugging purposes. Don't actually copy this line! -->#}
    {#<!--[if lt IE 9]><script src="bower_components/bootstrap/docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->#}

    {#<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!--[if lt IE 9]>#}
    {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
    {#<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>#}
    {#<![endif]-->#}

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block navigation %}
                        {% for resource in resources %}
                            <li>
                                <a href="{{ site.url }}/{{ resource.slug }}">{{ resource.title }}</a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ title }}</h1>
                {{ content }}
            </div>
            <aside class="col-md-3">
                <section class="well">
                    <h2>Categories</h2>
                    <ul>
                        {% for category, resource in all_categories %}
                            <li>
                                <a href="{{ site.url }}/category/{{ category }}">{{ category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="well">
                    <h2>Tags</h2>
                    <ul>
                        {% for tag, resource in all_tags %}
                            <li>
                                <a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>
        </div>

        <hr>

        <footer class="row">
            <p>&copy; {{ "now"|date("Y") }} {{ site.author }}</p>
        </footer>
    </div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>#}
    <script src="{{ site.url }}/bower_components/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
